<!DOCTYPE html>
<html>
	<head>
		<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
		<link href="application.css" rel="stylesheet" />
		<script src="bower_components/jquery/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="bower_components/backbone/backbone.js"></script>
		<script src="bower_components/marionette/lib/backbone.marionette.js"></script>
		<script src="quickerclicker.js"></script>
	</head>
	<body>
		<header class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">Quicker Clicker</a>
				</div>
				<nav class="collapse navbar-collapse">
				<!--
					<ul class="nav navbar-nav">
						<li><a href="#start" class="js-start">Start</a></li>
					</ul>
				-->
				</nav>
			</div>
		</header>

		<div id="quickerclicker" class="container">
		</div>

		<script type="text/template" id="menu-template">
			<div class="col-xs-6 col-xs-offset-3">
				<button class="btn btn-primary js-start-game">Start Game</button>
			</div>
		</script>

		<script type="text/template" id="clickometer-template">
			<div class="row">
				<div class="col-xs-12">
					<span style="font-size: 94px;"><%= clicksPerSecond.toFixed(2) %></span> clicks per second
				</div>
			</div>

			<% var percentRemaining = numberOfMillisecondsRemaing / timeToLiveInMilliseconds * 100 %>
			<% var progressBarClass = "success" %>
			<% progressBarClass = percentRemaining < 80 ? "info" : progressBarClass %>
			<% progressBarClass = percentRemaining < 40 ? "warning" : progressBarClass %>
			<% progressBarClass = percentRemaining < 10 ? "danger" : progressBarClass %>
			<div class="row">
				<div class="col-xs-12">
					<div class="progress progress-striped">
						<div class="progress-bar progress-bar-<%= progressBarClass %>" style="width: <%= percentRemaining %>%;"></div>
					</div>
				</div>
			</div>

			<%= (countdownActive && countdownTimeInSeconds) > 0 ? countdownTimeInSeconds : '' %>
		</script>
	</body>
</html>
