<!DOCTYPE html>
<html>
	<head>
		<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700' rel='stylesheet' type='text/css'>
		<link href="application.css" rel="stylesheet" />
		<script src="bower_components/jquery/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="bower_components/backbone/backbone.js"></script>
		<script src="bower_components/marionette/lib/backbone.marionette.js"></script>

		<script src="js/QuickerClicker.js"></script>
		<script src="js/Achievement.js"></script>
		<script src="js/Click.js"></script>
		<script src="js/Game.js"></script>
		<script src="js/Achievement.js"></script>
		<script src="js/Countdown.js"></script>
		<script>
			$(function(){
				QuickerClicker.start();
			});
		</script>
	</head>
	<body>

		<header id="menu" class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">Quicker Clicker</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="/" class="js-start-game">Start</a></li>
				</ul>
				<!--
				<ul class="nav navbar-nav navbar-right">
					<li style="padding: 10px; 0"><input type="text" id="" placeholder="Name"></li>
				</ul>
				-->
			</div>
		</header>

		<div id="main" class="container text-center"></div>
		<div id="stats" class="container" style="display: none;">
			<div class="row">
				<div class="col-xs-4">
					<h3 class="text-center">Clicks Per Second</h3>
					<ol>
						<li>12.31</li>
					</ol>
				</div>
				<div class="col-xs-4">
					<h3 class="text-center">Time to first click</h3>
				</div>
				<div class="col-xs-4">
					<h3 class="text-center">Fastest Click</h3>
				</div>
			</div>
		</div>
		<div id="clickercatcher" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(50,50,50,.1); display: none;"></div>

		<script type="text/template" id="game-template">
			<div class="row">
				<div class="col-xs-12">
					<% var formattedClicksPerSecond = clicksPerSecond.toFixed(2); %>
					<span style="font-size: 140px;"><%= formattedClicksPerSecond < 10 ? '&nbsp;' : '' %><%= formattedClicksPerSecond %></span> clicks per second
				</div>
			</div>

			<% var progressBarClass = "success" %>
			<div class="row">
				<div class="col-xs-12">
					<div class="progress progress-striped">
						<% var redValue = parseInt(200 - (200 * (percentOfTimeRemaining / 100))); %>
						<% var blueValue = 0; %>
						<% var greenValue = parseInt(200 * (percentOfTimeRemaining / 100)); %>
						<div class="progress-bar" style="width: <%= percentOfTimeRemaining %>%; background-color: rgb(<%= redValue %>, <%= greenValue %>, <%= blueValue %>);"></div>
					</div>
				</div>
			</div>
		</script>

		<script type="text/template" id="countdown-template">
			<div class="row">
				<div class="col-xs-12 text-center" style="font-size: 300px;">
					<%= countdownTimeInSeconds %>
				</div>
			</div>
		</script>

		<script type="text/template" id="achievement-template">
			<%= name %> | <%= description %> | <%= unlocked %>
		</script>

	</body>
</html>

