body, html {
	height: 100%;
}

body {
	padding-top: 70px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

* {
	transition: all 0.3s;
}

.progress.progress-vertical {
	margin-bottom: 0;
	width: 20px;
}

.progress.progress-vertical .progress-bar {
	position: relative;
	height: 100%;
	width: 100%;
}
